<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/_header') %>
    <!-- Title -->
    <title>
      Dashboard Emisi UNHAS di Tamalanrea: Keberlanjutan Lingkungan Universitas
      Hasanuddin
    </title>
    <meta
      name="description"
      content="Jelajahi Dashboard Emisi UNHAS di Tamalanrea untuk pemantauan emisi lingkungan, upaya keberlanjutan, dan kontribusi UNHAS dalam menjaga alam di wilayah Tamalanrea. Temukan data real-time dan inisiatif yang mendukung lingkungan yang lebih baik di UNHAS."
    />

    <!-- Leaflet -->
    <link rel="stylesheet" href="/leaflet/leaflet.css" />

    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <%- include('partials/_nav') %>
    <div class="container mt-2">
      <div class="container container__main">
        <div class="mb-3 mb-xl-0">
          <div class="container__average gap-4">
            <div class="p-2 card border">
              <div class="card-body text-center">
                <h5 class="card-title fs-3 fw-bold">CO2</h5>
                <p class="fs-3 fw-semibold mb-0">
                  <%= details.avarage['avgCo2'].toFixed(1) %> ppm
                </p>
              </div>
            </div>
            <div class="p-2 card border">
              <div class="card-body text-center">
                <h5 class="card-title fs-3 fw-bold">Noise</h5>
                <p class="fs-3 fw-semibold mb-0">
                  <%= details.avarage['avgNoise'].toFixed(1) %> dBA
                </p>
              </div>
            </div>
            <div class="p-2 card border">
              <div class="card-body text-center">
                <h5 class="card-title fs-3 fw-bold">Air Temperature</h5>
                <p class="fs-3 fw-semibold mb-0">
                  <%= details.avarage['avgAirTemperature'].toFixed(1) %>&#176;C
                </p>
              </div>
            </div>
            <div class="p-2 card border">
              <div class="card-body text-center">
                <h5 class="card-title fs-3 fw-bold">Humidity</h5>
                <p class="fs-3 fw-semibold mb-0">
                  <%= details.avarage['avgHumidity'].toFixed(1) %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-grow-1">
          <div id="map"></div>
        </div>
      </div>
    </div>

    <!-- Leaflet -->
    <script src="/leaflet/leaflet.js"></script>

    <script>
      var map = L.map("map").setView([-5.135973, 119.490643], 15);

      L.tileLayer(
        "https://api.maptiler.com/tiles/satellite-v2/{z}/{x}/{y}.jpg?key=sfHNL4IHHmzOiJZf4jtd",
        {
          maxZoom: 18,
          attribution: "",
        }
      ).addTo(map);

      var markers = [
        {
          coordinates: [-5.13307, 119.488603],
          popupText: `<div class="container__node">
          <h5 class="">Rectorate</h5>
          <div class="container__sensor">
            <div class="card__sensor">
              <p>CO2</p>
              <span><%= details.rectorate['co2'].toFixed(1) %></span>
            </div>
            <div class="card__sensor">
              <p>Noise</p>
              <span><%= details.rectorate['noise'].toFixed(1) %></span>
            </div>
            <div class="card__sensor">
              <p>Air Temperature</p>
              <span><%= details.rectorate['airTemperature'].toFixed(1) %></span>
            </div>
            <div class="card__sensor">
              <p>Humidity</p>
              <span><%= details.rectorate['humidity'].toFixed(1) %></span>
            </div>
          </div>
        </div>`,
        },
        {
          coordinates: [-5.140262, 119.488634],
          popupText: `<div class="container__node">
          <h5 class="">Gate 1</h5>
          <div class="container__sensor">
            <div class="card__sensor">
              <p>CO2</p>
              <span><%= details.gate1['co2'].toFixed(1) %></span>
            </div>
            <div class="card__sensor">
              <p>Noise</p>
              <span><%= details.gate1['noise'].toFixed(1) %></span>
            </div>
            <div class="card__sensor">
              <p>Air Temperature</p>
              <span><%= details.gate1['airTemperature'].toFixed(1) %></span>
            </div>
            <div class="card__sensor">
              <p>Humidity</p>
              <span><%= details.gate1['humidity'].toFixed(1) %></span>
            </div>
          </div>
        </div>`,
        },
        {
          coordinates: [-5.135506, 119.496015],
          popupText: `<div class="container__node">
          <h5 class="">Gate 2</h5>
          <div class="container__sensor">
            <div class="card__sensor">
              <p>CO2</p>
              <span><%= details.gate2['co2'].toFixed(1) %></span>
            </div>
            <div class="card__sensor">
              <p>Noise</p>
              <span><%= details.gate2['noise'].toFixed(1) %></span>
            </div>
            <div class="card__sensor">
              <p>Air Temperature</p>
              <span><%= details.gate2['airTemperature'].toFixed(1) %></span>
            </div>
            <div class="card__sensor">
              <p>Humidity</p>
              <span><%= details.gate2['humidity'].toFixed(1) %></span>
            </div>
          </div>
        </div>`,
        },
      ];

      markers.forEach((marker) => {
        L.marker(marker.coordinates)
          .addTo(map)
          .bindPopup(marker.popupText, {
            closeOnClick: false,
            autoClose: false,
          })
          .openPopup();
      });
    </script>
  </body>
</html>
